@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

body {
    background-color: var(--off-white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--white);
    width: 90%;
    max-width: 840px;
    height: 650px;
    max-height: 650px;
    border-radius: 22px 22px 222px 22px;
    display: flex;
    flex-direction: column;
    padding: 52px 59px;
}

.card .form {
    display: flex;
    border-bottom: 2px solid var(--light-grey);
    position: relative;
}

.card .form button {
    background-color: var(--primary);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 130px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.card .form button:hover{
    background-color: var(--secondary);
}

.card .form ul {
    display: flex;
    gap: 30px;
    margin-bottom: 45px;
}

.card .form ul li input {
    width: 160px;
    height: 75px;
    border-radius: 9px;
    border: 1px solid var(--light-grey);
    font-size: 32px;
    font-weight: 800;
    padding: 20px;
    text-transform: uppercase;
    color: var(--smokey-grey);
}

.card .form ul li .input-title {
    margin-bottom: 6px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--smokey-grey);
}

.card .form ul li.error .input-title{
    color: var(--error);
}

.card .form ul li.error input {
    border-color: var(--error);
}

.card .form ul li .error-text {
    color: var(--error);
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    margin-top: 7px;
}

.result-area {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.result-area .result {
    display: flex;
    font-size: 50px;
    font-style: italic;
    line-height: 110px;
}

.result-area .result h1:first-child{
    color: var(--primary);
    margin-right: 20px;
}